@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --soft-orange:hsl(35, 77%, 62%);
    --soft-red:hsl(5, 85%, 63%);
    --off-white:hsl(36, 100%, 99%);
    --grayish-blue:hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue:hsl(240, 100%, 5%);
    --main-font: 'Inter', sans-serif;
}
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, p, a{
    margin: 0;
    font-family: var(--main-font);
}
h1, h2, h3{
    color: var(--very-dark-blue);
    
}
p{
    color: var(--dark-grayish-blue);
    font-size: 0.8rem;
    line-height: 1.5;
}
img {
    max-width: 100%;
}
.wrapper{
    padding: 1.5rem 1rem;
    margin: 0 auto;
    max-width: 1000px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 2.5rem;
}
.menu img{
    width: 2rem;
}
.main-article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main-article-title{
    font-size: 2.2rem;
    line-height: 1;
}
.read-more{
    background-color: var(--soft-red);
    color: white;
    text-transform: uppercase;
    padding: 0.75rem 1.4rem;
    max-width: max-content;
    letter-spacing: .15rem;
    font-size: .75rem;
    font-weight: 400;
}

.new {
    margin-top: 2.75rem;
    background-color: var(--very-dark-blue);
    padding: 1rem;
}
.new-wrapper{
    display: flex;
    flex-direction: column;
}
.new-title {
    color: var(--soft-orange);
    font-weight: 700;
    text-transform: uppercase;
}
.new-article {
    margin-block: 1rem;
    border-bottom: 1px solid var(--dark-grayish-blue);
    padding: 0 0 .8rem;
}
.new-article:last-child{
    border-bottom: 0;
    padding-bottom: 0;
}
.new-article-title{
    color: var(--off-white);
    font-size: 1rem;
    margin-bottom: .7rem;
}
.new-article-description{
    color:var(--off-white);
}
.secondary { 
    margin-top: 2.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}
.secondary-article {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 1.1rem;
}
.secondary-article-wrapper{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.secondary-article-number{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--grayish-blue);
    line-height: 1;
}
.secondary-article-title{

}